:root {
  --font-sans: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
body, html {
  font-family: var(--font-sans);
  background-color: #fff;
  color: #000;
  scroll-padding-top: 64px;
}
body{
  position: relative;
  min-height: 100%;
  margin: 0;
}